.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview-detail__root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.fighter-preview-detail__items-wrapper {
  width: 150px;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}
.fighter-preview-detail__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.fighter-preview-detail__atribute {
  font-size: 16px;
  font-weight: bold;
  color: #ff6666;
  flex-grow: 2;
}
.fighter-preview-detail__value {
  font-size: 16px;
  flex-grow: 1;
}
.fighter-preview___img {
  height: 250px;
  width: auto;
}